main {
  min-height: calc(100vh - 13rem);
}

.photo {
  width: 100%;
  position: relative;
}

.photo img {
  object-fit: cover;
  object-position: center;
  height: 225px;
}

.clickHeart {
  position: absolute;
  top: 30px;
  right: 10px;
  color: #fff;
  font-size: 1.2rem;
}
.photo i:hover {
  color: red;
}

.photo .likeCount {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #fff;
}

.heartColor {
  color: red;
}
